@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
}

#header {
	width: 100%;
	height: 90px;
}

#searcharea {
	height: 800px;
	margin-top: 40px;
	margin-left: 30%;
}

#submit {
	width: 120px;
}

#title {
	font-size: 60px;
	color: #28A745;
	
}

.selectInput {
	margin-right: 20px;
}